@model Web.ViewModels.Auth.RegisterModel


<html><body class="text-center">

<main class="form-signin">
    <img class="mb-4" src="/img/favicon.jpg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Регистрация</h1>
    <form asp-action="Register" asp-controller="Account" asp-anti-forgey="true">
        <div class="has-validation" asp-validation-summary="ModelOnly"></div>

            <div class="form-floating">
                <label asp-for="Login" for="floatingInput">Логин</label> 
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for ="Login">
                <span asp-validation-for="Login"/>
               
            </div>
            <div class="form-floating">                
                <label asp-for="Password" for="floatingPassword">Пароль</label>
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" asp-for="Password">
                <span asp-validation-for="Password"/>
            </div>
            
            <div class="form-floating">                
                <label asp-for="Password" for="floatingPassword">Повторите пароль</label>
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" asp-for="Password">
                <span asp-validation-for="ConfirmPassword"/>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Регистрация</button>
            <p class="mt-5 mb-3 text-muted">&copy; Чугуевская центральная библиотека</p>
        

    </form>
</main>
<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js?v=513" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>


