@{
    ViewData["Title"] = "Общая информация";
}

<div class="container">
    <div class="row">
        
        <div class="col-4">
            <h3>Наш адрес</h3>
            <span>Мы рады видеть Вас по адресу: с.Чугуевка, ул. 50 лет октября 191</span>
        </div>
        <div class="col-4">
            <h3>Наш график работы</h3>
            <span>Вт-Пт: с 9:00 до 18:00</span>
            <span>Сб,Вс: с 10:00 до 17:00</span>
            <span>Перерыв: с 13:00 до 14:00</span>
            <span>Выходной:Понедельник</span>
            <span>Последня пятница каждого месяца санитарный день</span>
        </div>
        <div class="col-4">
            <h3>Связь с нами</h3>
            <span>Телефон заведующего ЦБС- +7(42372)21-9-59</span>
            <span>Электронная почта заведующего ЦБС (Панасюк Н. Г.) <a href="mailto:tzenter.biblioteka.chuguevka@yandex.ru">tzenter.biblioteka.chuguevka@yandex.ru</a> </span>
            <span>Электронная почта экономиста (Белошицкая И. В.) <a href="mailto:beloschitskaya.irina@yandex.ru">beloschitskaya.irina@yandex.ru</a></span>
            <span>Электронная почта Отдела обслуживания <a href="mailto:tzenther.biblioteka.oo@yandex.ru">tzenther.biblioteka.oo@yandex.ru</a></span>
        </div>

</div>