@using System.Globalization
@model List<LightNews>

@{
    ViewData["Title"] = "Наши новости";
}


<h1>@ViewData["Title"]</h1>

<div>
    <h1>Приветствуем Вас!</h1>
    <p>Вы находитесь на страничке отдела обсуживания читателей. <br />
        Тут Вы можете узнать о графике нашей работы, найти наши контакты, а также узнать о жизни нашего отдела.<br />
        Мы всегда рады видеть Вас в гостях!
    </p>
</div>

<div class="row">

    <div class="col-6 ps-1">
        <h3>График нашей работы</h3>
            <span>Вт-Чт: с 9:00 до 18:00,</span> 
            <span>Пт: с 14:00 до 22:00. </span> 
            <span>Суббота, Воскресенье: с 10:00 до 17:00.</span>
            <span>Обед: с 14:00 до 15:00.</span> 
            <span>Выходной: Понедельник.</span>
    </div>

    <div class="col-6 pe-1">
        <h3>Наши переодические издания:</h3>
        <ul>
            <li><span>Родина</span></li>
            <li><span>Наша кухня</span></li>
            <li><span>Приусадебный</span></li>
            <li><span>100 советов дачнику</span></li>
            <li><span>Приусадебное хозяйство</span></li>
            <li><span>Домашний очаг</span></li>
            <li><span>Вокруг света</span></li>
            <li><span>Бурда</span></li>
        </ul>
    </div>
</div>

<div class="row mb-2 text-center">

    <div class="col-md-6">
        @foreach (var news in Model)
        {
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

                <div class="col p-4 d-flex flex-column position-static">
                    
                    <div class="mb-1 text-muted">@news.PostDate.ToString("yyyy MMMM dd", new CultureInfo("ru-Ru"))</div>

                    <p class="card-text mb-auto">@news.Title</p>
                    <div>
                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(news.MainImage))"
                             alt="Image"
                             height="60"
                             width="60"
                             class="mb-2 rounded-circle img-thumbnail">
                    </div>
                    <a href="#" class="stretched-link">Подробнее...</a>
                </div>
            </div>
        }
    </div>
</div>